* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.player {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.music-number {
    font-size: 1rem;
    text-transform: uppercase;
}

.music-img {
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 6px 5px #ccc;
}

.music-name {
    font-size: 2.5rem;
}

.music-singer {
    margin-top: 5px;
    font-size: 1.5rem;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-range,
.volume-range {
    appearance: none;
    height: 5px;
    background: #83a9ff;
    transition: opacity .2s;
    cursor: pointer;
    border-radius: 5px;
}

.time-range:hover,
.volume-range:hover {
    opacity: 1;
}

.time-range {
    width: 60%;
}

.volume-range {
    width: 30%;
}

.start-time,
.end-time {
    padding: 10px;
}

i.fa-volume-high,
i.fa-volume-low {
    padding: 10px;
}

.buttons i {
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.btn {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.btn:hover {
    opacity: 1;
}


.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {
    50% {
        height: 20%;
        background: #4286f4;
    }

    100% {
        height: 100%;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}

.stroke:nth-child(2) {
    animation-delay: 0.3s;
}

.stroke:nth-child(3) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 0.9s;
}

.stroke:nth-child(5) {
    animation-delay: 0.6s;
}

.stroke:nth-child(6) {
    animation-delay: 0.3s;
}

.stroke:nth-child(7) {
    animation-delay: 0s;
}

.randomActive {
    color: #222;
}

@media (max-width: 500px) {
    .player {
        padding: 30px 15px;
    }
    .music-img {
        margin: 20px;
        height: 200px;
        width: 200px;
    }
    .music-name {
        font-size: 2rem;
    }
    
    .music-singer {
        font-size: 1.2rem;
    }

    .btn {
        padding: 15px;
    }
}